<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.huiounet.dao.CartSysMapper">
    <select id="findByUser_id" resultType="CartSys">
        SELECT * FROM  card_cart_sys where user_id = #{user_id};
    </select>

    <select id="findById" resultType="CartSys">
        SELECT * FROM  card_cart_sys where id = #{id};
    </select>

    <select id="findByShop_id" resultType="CartSys">
        SELECT * FROM  card_cart_sys where shop_id = #{shop_id};
    </select>

    <select id="GroupBy" resultType="CartSys">
        SELECT * FROM card_cart_sys WHERE user_id = #{user_id} GROUP BY shop_id;
    </select>

    <delete id="deleteById">
        DELETE FROM card_cart_sys WHERE id = #{id};
    </delete>
</mapper>