<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.huiounet.dao.CouponSysMapper">
    <select id="findByUser" resultType="CouponSys">
        SELECT * FROM  card_coupon_sys where user_id = #{user_id} AND status = #{status};
    </select>

    <select id="findById" resultType="CouponSys">
        SELECT * FROM  card_coupon_sys where id = #{id};
    </select>

    <select id="findByIdAndUser" resultType="CouponSys">
        SELECT * FROM  card_coupon_sys where coupon_id = #{coupon_id} AND user_id = #{user_id};
    </select>

    <select id="findByCouPon" resultType="CouponSys">
        SELECT * FROM  card_coupon_sys where coupon_id = #{coupon_id};
    </select>

    <select id="findCouPonUse" resultType="CouponSys">
        SELECT * FROM (SELECT * FROM (SELECT * FROM card_coupon_sys WHERE `user_id`=#{user_id})AS a WHERE `status`='1')AS b
  WHERE `goods_id`=#{goods_id} OR where_from = '1' OR where_from = '3'
    </select>

    <select id="findCouPonUseShop" resultType="CouponSys">
           SELECT * FROM (SELECT * FROM (SELECT * FROM card_coupon_sys WHERE `user_id`=#{user_id}) AS a WHERE `status`='1')AS b
  WHERE `shop_id`=#{shop_id} AND where_from = '3'
    </select>

    <update id="updateById">
        UPDATE card_coupon_sys SET status = #{status} WHERE id = #{id};
    </update>

    <update id="updateTime">
        UPDATE card_coupon_sys SET start_time = #{start_time},last_time = #{last_time} WHERE id = #{id};
    </update>
</mapper>