<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.huiounet.dao.CzOrderMapper">
    <select id="findByUserId" resultType="CzOrder">
        SELECT * FROM  card_cz_order where user_id = #{user_id};
    </select>

    <select id="findByOrderNum" resultType="CzOrder">
        SELECT * FROM  card_cz_order where order_num = #{order_num};
    </select>

    <update id="updateStatus">
        UPDATE card_cz_order SET status = #{status} WHERE order_num = #{order_num};
    </update>
</mapper>