<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.huiounet.dao.DaoHangSysMapper">
    <select id="findByStatus" resultType="DaoHangSys">
        SELECT * FROM  card_dao_hang_sys where status = '1';
    </select>

    <select id="findById" resultType="DaoHangSys">
        SELECT * FROM  card_dao_hang_sys where id = #{id};
    </select>

    <update id="updateById">
        UPDATE card_dao_hang_sys SET status = #{status} WHERE id = #{id};
    </update>

    <update id="updateMessById">
        UPDATE card_dao_hang_sys SET `name` = #{name},to_url=#{to_url},img=#{img} WHERE id = #{id};
    </update>

    <delete id="deleteById">
        DELETE FROM card_dao_hang_sys WHERE id = #{id};
    </delete>
</mapper>