<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.huiounet.dao.DianDanGoodsFenLeiFartherMapper">
    <select id="findByGoodsId" resultType="DianDanGoodsFenLeiFarther">
        SELECT * FROM  card_diandan_goods_fenlei_farther where goods_id = #{goods_id};
    </select>
</mapper>