<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.huiounet.dao.GoodsRootMapper">
    <select id="findByUserId" resultType="GoodsRoot">
        SELECT * FROM (SELECT * FROM (SELECT * FROM card_goods_root WHERE user_id = #{user_id})AS a  ORDER BY `create_time` DESC) AS b ORDER BY `id` DESC limit #{start},#{size};
    </select>
</mapper>