<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.huiounet.dao.GoodsSysMapper">

    <select id="findByShopIdOrderBySellMany" resultType="GoodsSys">
        SELECT * FROM card_goods_sys WHERE shop_id = #{shop_id} ORDER  BY sell_many  DESC  limit #{start},#{size};
    </select>

    <select id="findByShopIdOrderByLike" resultType="GoodsSys">
        SELECT * FROM card_goods_sys WHERE shop_id = #{shop_id} ORDER BY like_many  DESC  limit #{start},#{size};
    </select>

    <select id="findByShopIdOrderByPriceDESC" resultType="GoodsSys">
        SELECT * FROM card_goods_sys WHERE shop_id = #{shop_id}  ORDER  BY low_price DESC  limit #{start},#{size};
    </select>

    <select id="findByShopIdOrderByPriceASC" resultType="GoodsSys">
        SELECT * FROM card_goods_sys WHERE shop_id = #{shop_id}  ORDER  BY low_price ASC  limit #{start},#{size};
    </select>

    <select id="findByShopId" resultType="GoodsSys">
        SELECT * FROM card_goods_sys WHERE shop_id = #{shop_id}  limit #{start},#{size};
    </select>

    <select id="findMiaoShaGoodsList" resultType="GoodsSys">
        SELECT * FROM card_goods_sys WHERE miaosha_id = #{miaosha_id} AND is_miaosha = '1' limit #{start},#{size};
    </select>

    <select id="findId" resultType="GoodsSys">
        SELECT * FROM  card_goods_sys where id = #{id};
    </select>

    <select id="findNewGoods" resultType="GoodsSys">
        SELECT * FROM card_goods_sys WHERE status = '1' ORDER BY id DESC LIMIT 6;
    </select>

    <select id="SearchGoods" resultType="GoodsSys">
        SELECT * FROM card_goods_sys WHERE goods_name LIKE "%"#{goods_name}"%";
    </select>

    <select id="findAll" resultType="GoodsSys">
        SELECT * FROM card_goods_sys WHERE status = '1' LIMIT #{start} , #{pageSize} ;
    </select>

    <select id="findByShop_id" resultType="GoodsSys">
        SELECT * FROM card_goods_sys WHERE shop_id = #{shop_id} ;
    </select>

    <select id="findByLike" resultType="GoodsSys">
        SELECT * FROM card_goods_sys ORDER  BY like_many DESC limit #{start},#{size};
    </select>

    <select id="findBySell" resultType="GoodsSys">
        SELECT * FROM card_goods_sys ORDER  BY sell_many DESC limit #{start},#{size};
    </select>



    <update id="updateLike">
        UPDATE card_goods_sys SET like_many = #{like_many} WHERE id = #{id};
    </update>

    <update id="updateSell_many">
        UPDATE card_goods_sys SET sell_many = #{sell_many} WHERE id = #{id};
    </update>

</mapper>