<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.huiounet.dao.HuaFeiOrderSysMapper">

    <select id="findByOrderNum" resultType="HuaFeiOrderSys">
        SELECT * FROM  card_huafei_order where order_num = #{order_num};
    </select>

    <delete id="deleteById">
        DELETE FROM card_huafei_order WHERE id = #{id};
    </delete>

    <select id="findPayButNotSuccess" resultType="HuaFeiOrderSys">
        SELECT * FROM  card_huafei_order where pay_status = 'is_pay' AND is_cz_success = #{is_cz_success};
    </select>

    <select id="findByUserId" resultType="HuaFeiOrderSys">
        SELECT * FROM  card_huafei_order where user_id = #{user_id} ORDER  BY id  desc limit #{start},#{size};
    </select>

    <update id="updateByOrderNum">
        UPDATE card_huafei_order SET pay_status = #{pay_status} ,pay_time = #{pay_time} WHERE order_num = #{order_num};
    </update>


    <update id="updateById">
        UPDATE card_huafei_order SET is_cz_success = #{is_cz_success} WHERE id = #{id};
    </update>


</mapper>