<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.huiounet.dao.OrderSysMapper">
    <select id="findByOrderNum" resultType="OrderSys">
        SELECT * FROM  card_order_sys where order_num = #{order_num};
    </select>

    <select id="findOrderNumByUserId" resultType="OrderSys">
        SELECT * FROM  card_order_sys where user_id = #{user_id} AND pay_status = 'not_pay';
    </select>

    <select id="findAll" resultType="OrderSys">
        SELECT * FROM  card_order_sys   where  user_id = #{user_id} ORDER  BY id  desc   limit #{start},#{size} ;
    </select>

    <select id="findPayNumList" resultType="OrderSys">
        SELECT * FROM  card_order_sys   where  pay_num = #{pay_num};
    </select>

    <select id="findAllNum" resultType="java.lang.Integer">
        SELECT COUNT(*) FROM  card_order_sys where user_id = #{user_id} AND pay_status = #{pay_status};
    </select>


    <select id="findOrderStatus" resultType="OrderSys">
        SELECT * FROM  card_order_sys   where user_id = #{user_id} And pay_status = #{pay_status} ORDER  BY id desc limit #{start},#{size};
    </select>

    <update id="updataPayStatusByOrderNum">
        UPDATE card_order_sys SET pay_status = #{pay_status} WHERE order_num = #{order_num}
    </update>

    <update id="updataPayTime">
        UPDATE card_order_sys SET pay_time = #{pay_time} WHERE order_num = #{order_num}
    </update>

    <update id="updateNotic">
        UPDATE card_order_sys SET goods_notic = #{goods_notic} WHERE order_num = #{order_num}
    </update>

    <update id="updateFaHuo">
        UPDATE card_order_sys SET fa_huo_time = #{fa_huo_time},fa_huo_num = #{fa_huo_num} WHERE order_num = #{order_num}
    </update>

    <update id="updateAddress">
        UPDATE card_order_sys SET address_num = #{address_num} WHERE order_num = #{order_num}
    </update>

    <update id="updatePj">
        UPDATE card_order_sys SET is_pj = #{is_pj} WHERE order_num = #{order_num}
    </update>


    <update id="updateFP">
        UPDATE card_order_sys SET fa_piao = #{fa_piao} WHERE order_num = #{order_num}
    </update>

    <update id="updatePayNum">
        UPDATE card_order_sys SET pay_num = #{pay_num} WHERE order_num = #{order_num}
    </update>

    <update id="updatePayNumById">
        UPDATE card_order_sys SET pay_num = #{pay_num} WHERE id = #{id}
    </update>

    <update id="updateAll_pay">
        UPDATE card_order_sys SET all_pay = #{all_pay} WHERE order_num = #{order_num}
    </update>

    <delete id="deleteByOrderNum">
        DELETE FROM card_order_sys WHERE  order_num = #{order_num}
    </delete>


</mapper>