<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.huiounet.dao.PingJiaSysMapper">

    <select id="findByUser_id" resultType="PingJiaSys">
        SELECT * FROM  card_pingjia where user_id = #{user_id} limit #{start},#{size};
    </select>

    <select id="findByOrderNum" resultType="PingJiaSys">
        SELECT * FROM  card_pingjia where order_num = #{order_num};
    </select>

    <select id="findByGoodsId" resultType="PingJiaSys">
        SELECT * FROM  card_pingjia where goods_id = #{goods_id} limit #{start},#{size};
    </select>

    <delete id="deleteById">
        DELETE FROM card_pingjia WHERE  id = #{id};
    </delete>

</mapper>