<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.huiounet.dao.ShopSysMapper">
    <select id="findByOpenId" resultType="ShopSys">
        SELECT * FROM card_shop WHERE user_open_id = #{user_open_id};
    </select>

    <select id="findById" resultType="ShopSys">
        SELECT * FROM card_shop WHERE  id = #{id};
    </select>

    <update id="updateFans">
        UPDATE card_shop SET fans = #{fans} WHERE user_open_id = #{user_open_id};
    </update>


</mapper>