<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.huiounet.dao.UserInfoMapper">
    <select id="findByOpenId" resultType="UserInfoSystem">
        SELECT * FROM  card_user_info where open_id = #{open_id};
    </select>

    <select id="findAllUser" resultType="UserInfoSystem">
        SELECT * FROM  card_user_info limit #{start},#{size};
    </select>

    <select id="findByPhone" resultType="UserInfoSystem">
        SELECT * FROM  card_user_info where  phone_number = #{phone_number};
    </select>

    <select id="findById" resultType="UserInfoSystem">
        SELECT * FROM  card_user_info where  id = #{id};
    </select>

    <update id="updatePassWord">
        UPDATE card_user_info set password = #{password} where id = #{id};
    </update>

    <update id="updateVipTime">
        UPDATE card_user_info set vip_time = #{vip_time}, is_vip = '1' where id = #{id};
    </update>


    <update id="updateMoney">
        UPDATE card_user_info set money = #{money} where id = #{id};
    </update>

    <update id="updateJiFen">
        UPDATE card_user_info set jifen = #{jifen} where id = #{id};
    </update>

    <update id="updateQM">
        UPDATE card_user_info set qian_ming = #{qian_ming} where id = #{id};
    </update>

</mapper>